<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<title>Art Walk main page</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/map.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='scripts/map.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/custom.js') }}"></script>
</head>
<body>

	{% block body %}
	<ul class="nav">
		{% if session['logged_in'] %}
		<li><a href="/logout/">log out</a></li>
		<li><a href="/myroutes/">my routes</a></li>
		{% else %}
		<li><a href="/loginpage/">log in</a></li>
		{% endif %}
		<li><a href="/">home</a></li>
		<li><a href="/recommended/">recommended</a></li>
		<li><a href="/custom/">custom</a></li>
		{% endblock %}
	</ul>

	<div id="loader"></div>
	<div id="map"></div>

	<div class="panel">
		<h3>Create A Route</h3>
		<label for="origin">starting point</label>
		<input id="origin" type="text" name="origin">
		<label for="waypoints">waypoints (separate by comma)</label>
		<input id="waypoints" type="text" name="waypoints">
		<button id="submit_route" type="submit" name="submit_route">create</button>
	</div>

	{% if session['logged_in'] %}
	<div class="likesave">
		<h3>Like Or Save A Route</h3>
		<form action="/newwalk", method="POST">
			<label for="route_name">name</label>
			<input type="text" name="name" id="route_name">
			<label for="route_keywords">keywords (separate by comma)</label>
			<input type="text" name="keywords" id="route_keywords" placeholder="Crab Sculpture,50 United Nations Plaza,30 minutes">
			<input type="hidden" name="origin" id="route_origin">
			<input type="hidden" name="waypoints" id="route_waypoints">
			<button type="submit" name="action" value="like">like</button>
			<button type="submit" name="action" value="save">save</button>
		</form>
	</div>
	{% endif %}

	<div class="open">
		<h3>Open A Route</h3>
		<a id="googlemaps1" target="_blank"><button>open leg 1</button></a>
		<a id="googlemaps2" target="_blank"><button>open leg 2</button></a>
		<a id="googlemaps3" target="_blank"><button>open leg 3</button></a>
	</div>
</body>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{ APIKey }}&callback=initMap">
</script>
</html>
