
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Art Walk main page</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/map.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/map.js') }}"></script>
  </head>
  <body>
  	<div id="map"></div>
  	<form">
  		Starting point:<br>
  		<input id="origin" type="text" name="origin"><br>
  		Radius (optional):<br>
  		<input id="radius" type="number" name="radius" min="1" max="5"><br>
  		<input id="submit" type="submit" name="submit">
  	<form>
  	<p id="currentText"></p>
  	{% block body %}
	{% if session['logged_in'] %}
	<div class="login">
				<div class="app-title">
				<h1>Logout</h1>
			</div>
	  <a href="/logout/"><button>Log out</button></a>
	</div>
	{% else %}
	<form action="/login" method="POST">
	<div class="login">
			<div class="app-title">
				<h1>Login</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="email" name="email">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		
	</div>
	</form>
	{% endif %}
	{% endblock %}
  </body>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ APIKey }}&callback=initMap">
  </script>
</html>
