<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Art Walk main page</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/map.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/calcAndDisplay.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/map.js') }}"></script>
  </head>
  <body>

  	{% block body %}
  	<ul class="nav">
	{% if session['logged_in'] %}
	 	<li><a href="/logout/">log out</a></li>
	 	<li><a href="/myroutes/">my routes</a></li>
	{% else %}
		<li><a href="/loginpage/">log in</a></li>
	{% endif %}
		<li><a href="/">home</a></li>
		<li><a href="/recommended/">recommended</a></li>
		<li><a href="/custom/">custom</a></li>
	{% endblock %}
	</ul>

  	<div id="map"></div>
  		Starting Point:<br>
  		<input id="origin" type="text" name="origin"><br>
  		Radius (optional):<br>
  		<input id="radius" type="number" name="radius" min="1" max="5"><br>
  		<input id="submit_route" type="submit" name="submit_route"><br>
  	{% if session['logged_in'] %}
  		<div id="save">
  			<br>
	  		<script src="{{ url_for('static', filename='scripts/likesave.js') }}"></script>
  			<button id='save_button'>save</button>
  			<div id='save_form'></div>
  		</div>
  	{% endif %}
  	<div class="open">
  		<br>
  		<a id="googlemaps1"><button>Open Leg 1</button></a>
  		<br>
  		<a id="googlemaps2"><button>Open Leg 2</button></a>
  		<br>
  		<a id="googlemaps3"><button>Open Leg 3</button></a>
  	</div>
  </body>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ APIKey }}&callback=initMap">
  </script>
</html>
